@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular.woff') format('woff')
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../../fonts/Roboto-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../../fonts/Roboto-Light.woff2') format('woff2'),
    url('../../fonts/Roboto-Light.woff') format('woff');
}
